@import "tailwindcss";

body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:var(--font-mono),sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family:var(--font-syne), sans-serif;
}

canvas{
  touch-action: pan-y;
}
